version: '3'

services:
  server:
    image: judge0/judge0:1.13.0
    volumes:
      - ./judge0.conf:/judge0.conf:ro
    ports:
      - "2358:2358"
    privileged: true
    restart: always
    environment:
      - REDIS_PASSWORD=judge0
      - POSTGRES_PASSWORD=judge0
      - JUDGE0_PASSWORD=judge0
    depends_on:
      - db
      - redis

  workers:
    image: judge0/judge0:1.13.0
    command: ["./scripts/workers"]
    volumes:
      - ./judge0.conf:/judge0.conf:ro
    privileged: true
    restart: always
    environment:
      - REDIS_PASSWORD=judge0
      - POSTGRES_PASSWORD=judge0
      - JUDGE0_PASSWORD=judge0
    depends_on:
      - db
      - redis

  db:
    image: postgres:13.0
    restart: always
    environment:
      - POSTGRES_USER=judge0
      - POSTGRES_PASSWORD=judge0
      - POSTGRES_DB=judge0
    volumes:
      - postgres-data:/var/lib/postgresql/data

  redis:
    image: redis:6.0
    command: ["redis-server", "--appendonly", "yes", "--requirepass", "judge0"]
    restart: always
    volumes:
      - redis-data:/data

volumes:
  postgres-data:
  redis-data:
